NodeRED files/Project.json
[{"id":"60106d4e.7d5cd4","type":"tab","label":"Project","disabled":false,"info":""},{"id":"5a6ca0fb.e6616","type":"ui_numeric","z":"60106d4e.7d5cd4","name":"","label":"Vendor Machine Capacity","tooltip":"","group":"e2e9fb07.22a078","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"50","step":"5","x":150,"y":80,"wires":[["1d8cdcab.e13bd3"]]},{"id":"1d8cdcab.e13bd3","type":"function","z":"60106d4e.7d5cd4","name":"","func":"flow.set(\"capacity\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[["6b5b5d9.d27b7a4"]]},{"id":"6b5b5d9.d27b7a4","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"4efa1a2c.a0c504","type":"ui_text_input","z":"60106d4e.7d5cd4","name":"","label":"Vendor Machine Location","tooltip":"","group":"e2e9fb07.22a078","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":150,"y":120,"wires":[["a064a318.cbc74"]]},{"id":"a064a318.cbc74","type":"function","z":"60106d4e.7d5cd4","name":"","func":"flow.set(\"location\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":120,"wires":[["3b91fff2.b9795"]]},{"id":"3b91fff2.b9795","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":120,"wires":[]},{"id":"fe0015ff.5c8ba8","type":"inject","z":"60106d4e.7d5cd4","name":"alert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":12, \"sprite\":21, \"pepsi\":9, \"refill\": 0}","payloadType":"str","x":90,"y":320,"wires":[["6278fac8.15eb44"]]},{"id":"6278fac8.15eb44","type":"json","z":"60106d4e.7d5cd4","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":320,"wires":[["ad7ac4ea.9b92d8","d94dce41.944d2","afa65010.9847f","5c953d68.ff3894","9e865abb.b59958","54ceaf6a.d1a8a","f2572560.b45fd8","a123f738.0a9148"]]},{"id":"ad7ac4ea.9b92d8","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"d94dce41.944d2","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.coke","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":320,"wires":[["c95d54a4.e4d208","7221f3bd.2ce36c"]]},{"id":"c95d54a4.e4d208","type":"ui_gauge","z":"60106d4e.7d5cd4","name":"","group":"bdba7285.159fe","order":1,"width":9,"height":4,"gtype":"gage","title":"Coke","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#3acb3e"],"seg1":"10","seg2":"20","x":690,"y":340,"wires":[]},{"id":"afa65010.9847f","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sprite","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":360,"wires":[["471effdb.49c0d","d06b9d85.386b"]]},{"id":"471effdb.49c0d","type":"ui_gauge","z":"60106d4e.7d5cd4","name":"","group":"bdba7285.159fe","order":3,"width":9,"height":4,"gtype":"gage","title":"Sprite","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#3acb3e"],"seg1":"10","seg2":"20","x":690,"y":380,"wires":[]},{"id":"5c953d68.ff3894","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pepsi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["ff39f9c9.653358","1f663d3d.db8e03"]]},{"id":"ff39f9c9.653358","type":"ui_gauge","z":"60106d4e.7d5cd4","name":"","group":"bdba7285.159fe","order":4,"width":9,"height":4,"gtype":"gage","title":"Pepsi","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#3acb3e"],"seg1":"10","seg2":"20","x":690,"y":420,"wires":[]},{"id":"168ca42e.1b23fc","type":"function","z":"60106d4e.7d5cd4","name":"","func":"flow.set(\"limit\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":160,"wires":[["a6e135ff.f1bf88"]]},{"id":"a6e135ff.f1bf88","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":160,"wires":[]},{"id":"a62d0fb5.c98d","type":"ui_numeric","z":"60106d4e.7d5cd4","name":"","label":"Alert Limit","tooltip":"","group":"e2e9fb07.22a078","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"10","step":"1","x":100,"y":160,"wires":[["168ca42e.1b23fc"]]},{"id":"f685934b.7c88d","type":"inject","z":"60106d4e.7d5cd4","name":"refill","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"coke\":30, \"sprite\":30, \"pepsi\":30, \"refill\": 1}","payloadType":"json","x":90,"y":360,"wires":[["6278fac8.15eb44"]]},{"id":"9e865abb.b59958","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.coke < flow.get('limit')){\n    msg.payload = \"You are running out of Beverages in Machin 01 at \"+ flow.get('location')+ \"!\\nRefill ASAP!!!\";\n    msg.topic = 'Refill Alert';\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":460,"wires":[["19ab7cc6.83c6f3"]]},{"id":"54ceaf6a.d1a8a","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.sprite < flow.get('limit')){\n    msg.payload = \"You are running out of Beverages in Machin 01 at \"+ flow.get('location')+ \"!\\nRefill ASAP!!!\";\n    msg.topic = 'Refill Alert';\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[["19ab7cc6.83c6f3"]]},{"id":"f2572560.b45fd8","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.pepsi < flow.get('limit')){\n    msg.payload = \"You are running out of Beverages in Machin 01 at \"+ flow.get('location')+ \"!\\nRefill ASAP!!!\";\n    msg.topic = 'Refill Alert';\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":540,"wires":[["19ab7cc6.83c6f3"]]},{"id":"7e96c6eb.0e0bd8","type":"inject","z":"60106d4e.7d5cd4","name":"B Coke","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":29, \"sprite\":30, \"pepsi\":30, \"refill\": 0}","payloadType":"json","x":90,"y":400,"wires":[["6278fac8.15eb44"]]},{"id":"22e6c73a.97fc98","type":"inject","z":"60106d4e.7d5cd4","name":"random","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":18, \"sprite\":26, \"pepsi\":29, \"refill\": 0}","payloadType":"json","x":90,"y":520,"wires":[["6278fac8.15eb44"]]},{"id":"c18e70b3.6c7e4","type":"debug","z":"60106d4e.7d5cd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":540,"wires":[]},{"id":"866243c0.369a2","type":"ui_text","z":"60106d4e.7d5cd4","group":"552053cb.2189dc","order":1,"width":14,"height":1,"name":"","label":"Last Refill at","format":"{{msg.payload}}","layout":"row-center","x":870,"y":280,"wires":[]},{"id":"9c53e8c.9696d18","type":"moment","z":"60106d4e.7d5cd4","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Colombo","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd DD MMM HH:mm:ss","locale":"en-US","output":"","outputType":"msg","outTz":"Asia/Colombo","x":680,"y":280,"wires":[["866243c0.369a2"]]},{"id":"a123f738.0a9148","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload.refill","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":280,"wires":[["9c53e8c.9696d18"]]},{"id":"881689a4.ee7aa8","type":"ui_toast","z":"60106d4e.7d5cd4","position":"top right","displayTime":"15","highlight":"Red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":900,"y":460,"wires":[]},{"id":"e145c4f.fcc7138","type":"mqtt in","z":"60106d4e.7d5cd4","name":"","topic":"TVM/out","qos":"2","datatype":"auto","broker":"8d948d48.d57d5","x":100,"y":280,"wires":[["6278fac8.15eb44","8f3f62d3.8afef"]]},{"id":"7221f3bd.2ce36c","type":"rbe","z":"60106d4e.7d5cd4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":850,"y":320,"wires":[["684ff276.86e5cc"]]},{"id":"684ff276.86e5cc","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"capacity","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":320,"wires":[["28d6eb1b.9af504"]]},{"id":"28d6eb1b.9af504","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales')+1], [flow.get('sprite_sales')], [flow.get('pepsi_sales')] ],\n    \"labels\": [ \"Daily Sales\" ]\n}];\n\nflow.set('coke_sales', (flow.get('coke_sales')+1));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":320,"wires":[["77679fa0.b2f2c"]]},{"id":"f851a4aa.e90178","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":28, \"sprite\":29, \"pepsi\":30, \"refill\": 0}","payloadType":"json","x":90,"y":560,"wires":[["6278fac8.15eb44"]]},{"id":"e3ee6b0d.39fe28","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":12, \"sprite\":22, \"pepsi\":24, \"refill\": 0}","payloadType":"json","x":90,"y":600,"wires":[["6278fac8.15eb44"]]},{"id":"495c6e9e.3816c","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"true","payloadType":"bool","x":770,"y":80,"wires":[["e86ac073.294f1"]]},{"id":"e86ac073.294f1","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"coke_sales","pt":"flow","to":"16","tot":"num"},{"t":"set","p":"sprite_sales","pt":"flow","to":"25","tot":"num"},{"t":"set","p":"pepsi_sales","pt":"flow","to":"9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":80,"wires":[["d6d2e1c9.9d4ee"]]},{"id":"77679fa0.b2f2c","type":"ui_chart","z":"60106d4e.7d5cd4","name":"","group":"71742d79.161a64","order":1,"width":14,"height":5,"label":"Past 24 Hours","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1320,"y":360,"wires":[[]]},{"id":"b4857a99.0de628","type":"inject","z":"60106d4e.7d5cd4","name":"B Sprite","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":29, \"sprite\":29, \"pepsi\":30, \"refill\": 0}","payloadType":"json","x":90,"y":440,"wires":[["6278fac8.15eb44"]]},{"id":"ed87ca71.cea398","type":"inject","z":"60106d4e.7d5cd4","name":"B Pepsi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":29, \"sprite\":29, \"pepsi\":29, \"refill\": 0}","payloadType":"json","x":90,"y":480,"wires":[["6278fac8.15eb44"]]},{"id":"d06b9d85.386b","type":"rbe","z":"60106d4e.7d5cd4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":850,"y":360,"wires":[["92f3a335.5f309"]]},{"id":"92f3a335.5f309","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"capacity","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":360,"wires":[["13e8a4a3.cd8e4b"]]},{"id":"13e8a4a3.cd8e4b","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales')], [flow.get('sprite_sales')+1], [flow.get('pepsi_sales')] ],\n    \"labels\":[ \"Daily Sales\" ]\n}];\n\nflow.set('sprite_sales', (flow.get('sprite_sales')+1));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":360,"wires":[["77679fa0.b2f2c"]]},{"id":"1f663d3d.db8e03","type":"rbe","z":"60106d4e.7d5cd4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":850,"y":400,"wires":[["4db7ee83.252ac"]]},{"id":"4db7ee83.252ac","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"capacity","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":400,"wires":[["c4ccfd2c.7542d"]]},{"id":"c4ccfd2c.7542d","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales')], [flow.get('sprite_sales')], [flow.get('pepsi_sales')+1] ],\n    \"labels\": [ \"Daily Sales\" ]\n}];\n\nflow.set('pepsi_sales', (flow.get('pepsi_sales')+1));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":400,"wires":[["77679fa0.b2f2c"]]},{"id":"d6d2e1c9.9d4ee","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales')], [flow.get('sprite_sales')], [flow.get('pepsi_sales')] ],\n    \"labels\": [ \"Daily Sales\" ]\n}];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":80,"wires":[["77679fa0.b2f2c"]]},{"id":"e5394d5e.09acd","type":"openweathermap","z":"60106d4e.7d5cd4","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":430,"y":680,"wires":[["a430e3fb.3f4aa","161c4bf7.c0be54","9b0739eb.14fa38","8c37488.23510b8"]]},{"id":"f130e333.995ae","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if(msg.payload){\n    return{\n        location : {\n            city : flow.get(\"location\"),\n            country : 'Sri Lanka'\n        },\n        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":680,"wires":[["e5394d5e.09acd"]]},{"id":"69cc2417.9f263c","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":100,"y":680,"wires":[["f130e333.995ae"]]},{"id":"a430e3fb.3f4aa","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":620,"wires":[]},{"id":"161c4bf7.c0be54","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":680,"wires":[["bb92f722.52de58"]]},{"id":"bb92f722.52de58","type":"ui_text","z":"60106d4e.7d5cd4","group":"7c1517da.875ee8","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":790,"y":680,"wires":[]},{"id":"ad79ec86.8581e","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = \"The Temparature is around \"+ msg.payload + \" °C.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":740,"wires":[["da04d936.52f1e8"]]},{"id":"9b0739eb.14fa38","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp_maxc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":740,"wires":[["b64fc726.734d38"]]},{"id":"b64fc726.734d38","type":"string","z":"60106d4e.7d5cd4","name":"","methods":[{"name":"toString","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":790,"y":740,"wires":[["ad79ec86.8581e"]]},{"id":"da04d936.52f1e8","type":"ui_text","z":"60106d4e.7d5cd4","group":"7c1517da.875ee8","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1050,"y":740,"wires":[]},{"id":"8c37488.23510b8","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.weather == \"Clear\"){\n    msg.payload = \"The weather is Clear today! There might be more Sales. \\n Better keep the machine stocked!\";\n    return msg;\n}\nelse if (msg.payload.temp_maxc > 27.0){\n    msg.payload = \"The temparature is high today! There Might be more Sales. \\n Better keep the machine stocked!\";\n    return msg;\n}\nelse if (msg.payload.weather == \"Clouds\"){\n    msg.payload = \"The weather is Cloudy today! People would love to have a soft drink. There might be more Sales.\\n Better keep the machine stocked!\";\n    return msg;\n}\nelse if (msg.payload.weather == \"Thunderstorm\"){\n    msg.payload = \"It is a Thunderstorm today! Today might not be the best day for sales.\";\n    return msg;\n}\nelse if (msg.payload.weather == \"Rain\"){\n    msg.payload = \"It is Raining today! Today might not be the best day for a soft drink. Sales will be low today\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":800,"wires":[["461e718f.7b49a"]]},{"id":"461e718f.7b49a","type":"ui_text","z":"60106d4e.7d5cd4","group":"7c1517da.875ee8","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":750,"y":800,"wires":[]},{"id":"864c983a.d5bd78","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":880,"wires":[["cd98c318.066fc"]]},{"id":"cd98c318.066fc","type":"function","z":"60106d4e.7d5cd4","name":"","func":"var yourDate = new Date()\n\nmsg.payload = {\n    \"Date\" : yourDate.toISOString().split('T')[0],\n    \"Machine\": 'Machine 01',\n    \"Coke\" : flow.get('coke_sales'),\n    \"Sprite\" : flow.get('sprite_sales'),\n    \"Pepsi\" : flow.get('pepsi_sales')\n};\nmsg.topic = 'Daily Summary';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":880,"wires":[["44be5e9f.9353c"]]},{"id":"21d7f7da.24c618","type":"debug","z":"60106d4e.7d5cd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":880,"wires":[]},{"id":"44be5e9f.9353c","type":"json","z":"60106d4e.7d5cd4","name":"","property":"payload","action":"str","pretty":false,"x":410,"y":880,"wires":[["4d63d22a.09f1bc","ac20a687.0b4e38"]]},{"id":"8f3f62d3.8afef","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":240,"wires":[]},{"id":"4d63d22a.09f1bc","type":"e-mail","z":"60106d4e.7d5cd4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"chumsy9725@gmail.com","dname":"","x":620,"y":940,"wires":[]},{"id":"492a7364.4091dc","type":"comment","z":"60106d4e.7d5cd4","name":"Machine 01","info":"","x":110,"y":20,"wires":[]},{"id":"3cc49638.56784a","type":"ui_numeric","z":"60106d4e.7d5cd4","name":"","label":"Vendor Machine Capacity","tooltip":"","group":"8507e80.6600b18","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"50","step":"5","x":150,"y":1220,"wires":[["f0375456.d8b978"]]},{"id":"f0375456.d8b978","type":"function","z":"60106d4e.7d5cd4","name":"","func":"flow.set(\"capacity02\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1220,"wires":[["77aa198.0a90be8"]]},{"id":"77aa198.0a90be8","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1220,"wires":[]},{"id":"e9ae7e3d.de323","type":"ui_text_input","z":"60106d4e.7d5cd4","name":"","label":"Vendor Machine Location","tooltip":"","group":"8507e80.6600b18","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":150,"y":1260,"wires":[["d975ac6f.68937"]]},{"id":"d975ac6f.68937","type":"function","z":"60106d4e.7d5cd4","name":"","func":"flow.set(\"location02\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1260,"wires":[["b2578905.662e88"]]},{"id":"b2578905.662e88","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1260,"wires":[]},{"id":"a4b6539f.83d04","type":"inject","z":"60106d4e.7d5cd4","name":"alert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":12, \"sprite\":21, \"pepsi\":3, \"refill\": 0}","payloadType":"str","x":90,"y":1460,"wires":[["92222b09.f5d368"]]},{"id":"92222b09.f5d368","type":"json","z":"60106d4e.7d5cd4","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":1460,"wires":[["b989211e.80fca","505638f8.a9f7f8","604dc8db.00ae08","bd04e679.40aa48","be76796d.de57e8","13b7d53.4b0682b","99e9944d.afb608","4feb692d.a64c28"]]},{"id":"b989211e.80fca","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1380,"wires":[]},{"id":"505638f8.a9f7f8","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.coke","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1460,"wires":[["5d2b8b6a.8ca164","c4403bf6.ef0178"]]},{"id":"5d2b8b6a.8ca164","type":"ui_gauge","z":"60106d4e.7d5cd4","name":"","group":"5cc65bc4.b031b4","order":3,"width":8,"height":4,"gtype":"gage","title":"Coke","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#3acb3e"],"seg1":"5","seg2":"20","x":690,"y":1480,"wires":[]},{"id":"604dc8db.00ae08","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sprite","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1500,"wires":[["e137b9b8.c29188","4a631260.cd162c"]]},{"id":"e137b9b8.c29188","type":"ui_gauge","z":"60106d4e.7d5cd4","name":"","group":"5cc65bc4.b031b4","order":1,"width":8,"height":4,"gtype":"gage","title":"Sprite","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#3acb3e"],"seg1":"5","seg2":"20","x":690,"y":1520,"wires":[]},{"id":"bd04e679.40aa48","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pepsi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1540,"wires":[["8ba5a3af.a1ff1","4da5c244.022d7c"]]},{"id":"8ba5a3af.a1ff1","type":"ui_gauge","z":"60106d4e.7d5cd4","name":"","group":"5cc65bc4.b031b4","order":5,"width":8,"height":4,"gtype":"gage","title":"Pepsi","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#3acb3e"],"seg1":"5","seg2":"20","x":690,"y":1560,"wires":[]},{"id":"f2e4674.0f03598","type":"function","z":"60106d4e.7d5cd4","name":"","func":"flow.set(\"limit02\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1300,"wires":[["2c578352.8bf20c"]]},{"id":"2c578352.8bf20c","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1300,"wires":[]},{"id":"f9793db4.0859","type":"ui_numeric","z":"60106d4e.7d5cd4","name":"","label":"Alert Limit","tooltip":"","group":"8507e80.6600b18","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"10","step":"1","x":100,"y":1300,"wires":[["f2e4674.0f03598"]]},{"id":"4cf3ad34.6dff44","type":"e-mail","z":"60106d4e.7d5cd4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"chumsy9725@gmail.com","dname":"","x":930,"y":1640,"wires":[]},{"id":"5d2bfbd1.e53704","type":"inject","z":"60106d4e.7d5cd4","name":"refill","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"coke\":30, \"sprite\":30, \"pepsi\":30, \"refill\": 1}","payloadType":"json","x":90,"y":1500,"wires":[["92222b09.f5d368"]]},{"id":"be76796d.de57e8","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.coke < flow.get('limit02')){\n    msg.payload = \"You are running out of Beverages in Machin 01 at \"+ flow.get('location02')+ \"!\\nRefill ASAP!!!\";\n    msg.topic = 'Refill Alert';\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1600,"wires":[["ab5e7eea.4b48e"]]},{"id":"13b7d53.4b0682b","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.sprite < flow.get('limit02')){\n    msg.payload = \"You are running out of Beverages in Machin 01 at \"+ flow.get('location02')+ \"!\\nRefill ASAP!!!\";\n    msg.topic = 'Refill Alert';\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1640,"wires":[["ab5e7eea.4b48e"]]},{"id":"99e9944d.afb608","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.pepsi < flow.get('limit02')){\n    msg.payload = \"You are running out of Beverages in Machin 01 at \"+ flow.get('location02')+ \"!\\nRefill ASAP!!!\";\n    msg.topic = 'Refill Alert';\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1680,"wires":[["ab5e7eea.4b48e"]]},{"id":"19e9ad03.5c26f3","type":"inject","z":"60106d4e.7d5cd4","name":"B Coke","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":29, \"sprite\":30, \"pepsi\":30, \"refill\": 0}","payloadType":"json","x":90,"y":1540,"wires":[["92222b09.f5d368"]]},{"id":"18a31932.2e1dd7","type":"inject","z":"60106d4e.7d5cd4","name":"random","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":18, \"sprite\":26, \"pepsi\":29, \"refill\": 0}","payloadType":"json","x":90,"y":1660,"wires":[["92222b09.f5d368"]]},{"id":"c7065b8c.d2d7d8","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1680,"wires":[]},{"id":"ab5e7eea.4b48e","type":"delay","z":"60106d4e.7d5cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":1640,"wires":[["c7065b8c.d2d7d8","b72b2263.b832c","4cf3ad34.6dff44"]]},{"id":"10e7b8fa.6e6f77","type":"ui_text","z":"60106d4e.7d5cd4","group":"4933443c.04ae3c","order":1,"width":14,"height":1,"name":"","label":"Last Refill at","format":"{{msg.payload}}","layout":"row-center","x":870,"y":1420,"wires":[]},{"id":"c977a6e5.d302a8","type":"moment","z":"60106d4e.7d5cd4","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Colombo","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd DD MMM HH:mm:ss","locale":"en-US","output":"","outputType":"msg","outTz":"Asia/Colombo","x":680,"y":1420,"wires":[["10e7b8fa.6e6f77"]]},{"id":"4feb692d.a64c28","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload.refill","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":1420,"wires":[["c977a6e5.d302a8"]]},{"id":"b72b2263.b832c","type":"ui_toast","z":"60106d4e.7d5cd4","position":"top right","displayTime":"3","highlight":"Red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":900,"y":1600,"wires":[]},{"id":"8832a6e2.5cf118","type":"mqtt in","z":"60106d4e.7d5cd4","name":"","topic":"TVM/out02","qos":"2","datatype":"auto","broker":"8d948d48.d57d5","x":100,"y":1420,"wires":[["92222b09.f5d368","1a8f4355.86059d"]]},{"id":"c4403bf6.ef0178","type":"rbe","z":"60106d4e.7d5cd4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":850,"y":1460,"wires":[["3428a9f.5d20756"]]},{"id":"3428a9f.5d20756","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"capacity02","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":1460,"wires":[["9acee8bb.fda5b8"]]},{"id":"9acee8bb.fda5b8","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales_02')+1], [flow.get('sprite_sales_02')], [flow.get('pepsi_sales_02')] ],\n    \"labels\": [ \"Daily Sales\" ]\n}];\n\nflow.set('coke_sales_02', (flow.get('coke_sales_02')+1));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1460,"wires":[["2fbfb9b0.5d0b86"]]},{"id":"32c68957.628896","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":16, \"sprite\":26, \"pepsi\":23, \"refill\": 0}","payloadType":"json","x":90,"y":1700,"wires":[["92222b09.f5d368"]]},{"id":"9be28068.39888","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":12, \"sprite\":22, \"pepsi\":24, \"refill\": 0}","payloadType":"json","x":90,"y":1740,"wires":[["92222b09.f5d368"]]},{"id":"d787befd.703f3","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"true","payloadType":"bool","x":770,"y":1220,"wires":[["2ffe1ec8.060e92"]]},{"id":"2ffe1ec8.060e92","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"coke_sales_02","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"sprite_sales_02","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pepsi_sales_02","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1220,"wires":[["ff933e9b.0b077"]]},{"id":"2fbfb9b0.5d0b86","type":"ui_chart","z":"60106d4e.7d5cd4","name":"","group":"762838a9.df2da8","order":1,"width":14,"height":5,"label":"Past 24 Hours","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1320,"y":1500,"wires":[[]]},{"id":"b7b9e370.38ce7","type":"inject","z":"60106d4e.7d5cd4","name":"B Sprite","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":29, \"sprite\":29, \"pepsi\":30, \"refill\": 0}","payloadType":"json","x":90,"y":1580,"wires":[["92222b09.f5d368"]]},{"id":"cdd170ab.e0fb1","type":"inject","z":"60106d4e.7d5cd4","name":"B Pepsi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":29, \"sprite\":29, \"pepsi\":29, \"refill\": 0}","payloadType":"json","x":90,"y":1620,"wires":[["92222b09.f5d368"]]},{"id":"4a631260.cd162c","type":"rbe","z":"60106d4e.7d5cd4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":850,"y":1500,"wires":[["54bb59a6.be35e8"]]},{"id":"54bb59a6.be35e8","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"capacity02","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":1500,"wires":[["38b9444d.89489c"]]},{"id":"38b9444d.89489c","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales_02')], [flow.get('sprite_sales_02')+1], [flow.get('pepsi_sales_02')] ],\n    \"labels\":[ \"Daily Sales\" ]\n}];\n\nflow.set('sprite_sales_02', (flow.get('sprite_sales_02')+1));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1500,"wires":[["2fbfb9b0.5d0b86"]]},{"id":"4da5c244.022d7c","type":"rbe","z":"60106d4e.7d5cd4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":850,"y":1540,"wires":[["e59f8921.20cbd8"]]},{"id":"e59f8921.20cbd8","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"capacity02","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":1540,"wires":[["5789a400.0fefcc"]]},{"id":"5789a400.0fefcc","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales_02')], [flow.get('sprite_sales_02')], [flow.get('pepsi_sales_02')+1] ],\n    \"labels\": [ \"Daily Sales\" ]\n}];\n\nflow.set('pepsi_sales_02', (flow.get('pepsi_sales_02')+1));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1540,"wires":[["2fbfb9b0.5d0b86"]]},{"id":"ff933e9b.0b077","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales_02')], [flow.get('sprite_sales_02')], [flow.get('pepsi_sales_02')] ],\n    \"labels\": [ \"Daily Sales\" ]\n}];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1220,"wires":[["2fbfb9b0.5d0b86"]]},{"id":"c6170adc.557008","type":"openweathermap","z":"60106d4e.7d5cd4","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":430,"y":1860,"wires":[["c3e1dd21.14f9b","25821507.8b4e8a","ff41ee75.61a7d","17baf55b.faa51b"]]},{"id":"36b66a1f.2dcee6","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if(msg.payload){\n    return{\n        location : {\n            city : flow.get(\"location02\"),\n            country : 'Sri Lanka'\n        },\n        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1860,"wires":[["c6170adc.557008"]]},{"id":"653bf32b.d09b6c","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":100,"y":1860,"wires":[["36b66a1f.2dcee6"]]},{"id":"c3e1dd21.14f9b","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":1800,"wires":[]},{"id":"25821507.8b4e8a","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1860,"wires":[["2e803b92.9880d4"]]},{"id":"2e803b92.9880d4","type":"ui_text","z":"60106d4e.7d5cd4","group":"22bda611.84e27a","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":790,"y":1860,"wires":[]},{"id":"eb71c3c0.fc5ff","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = \"The Temparature is around \"+ msg.payload + \" °C.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1920,"wires":[["d55cfa8b.0f1f08"]]},{"id":"ff41ee75.61a7d","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp_maxc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1920,"wires":[["6f6f62f7.4f1b5c"]]},{"id":"6f6f62f7.4f1b5c","type":"string","z":"60106d4e.7d5cd4","name":"","methods":[{"name":"toString","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":790,"y":1920,"wires":[["eb71c3c0.fc5ff"]]},{"id":"d55cfa8b.0f1f08","type":"ui_text","z":"60106d4e.7d5cd4","group":"22bda611.84e27a","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1050,"y":1920,"wires":[]},{"id":"17baf55b.faa51b","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.weather == \"Clear\"){\n    msg.payload = \"The weather is Clear today! There might be more Sales. \\n Better keep the machine stocked!\";\n    return msg;\n}\nelse if (msg.payload.temp_maxc > 27.0){\n    msg.payload = \"The temparature is high today! There Might be more Sales. \\n Better keep the machine stocked!\";\n    return msg;\n}\nelse if (msg.payload.weather == \"Clouds\"){\n    msg.payload = \"The weather is Cloudy today! People would love to have a soft drink. There might be more Sales.\\n Better keep the machine stocked!\";\n    return msg;\n}\nelse if (msg.payload.weather == \"Thunderstorm\"){\n    msg.payload = \"It is a Thunderstorm today! Today might not be the best day for sales.\";\n    return msg;\n}\nelse if (msg.payload.weather == \"Rain\"){\n    msg.payload = \"It is Raining today! Today might not be the best day for a soft drink. Sales will be low today\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1980,"wires":[["260197ca.a9f138"]]},{"id":"260197ca.a9f138","type":"ui_text","z":"60106d4e.7d5cd4","group":"22bda611.84e27a","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":750,"y":1980,"wires":[]},{"id":"c3d063.f0906fa","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2060,"wires":[["a4014f05.e2364"]]},{"id":"a4014f05.e2364","type":"function","z":"60106d4e.7d5cd4","name":"","func":"var yourDate = new Date()\n\nmsg.payload = {\n    \"Date\" : yourDate.toISOString().split('T')[0],\n    \"Machine\": 'Machine 02',\n    \"Coke\" : flow.get('coke_sales_02'),\n    \"Sprite\" : flow.get('sprite_sales_02'),\n    \"Pepsi\" : flow.get('pepsi_sales_02')\n};\nmsg.topic = 'Daily Summary';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":2060,"wires":[["b3b4e186.e1db7"]]},{"id":"d4ff5ee0.a6283","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":2060,"wires":[]},{"id":"b3b4e186.e1db7","type":"json","z":"60106d4e.7d5cd4","name":"","property":"payload","action":"","pretty":false,"x":410,"y":2060,"wires":[["b676fb5f.6d9168","884c2a73.ae63e8"]]},{"id":"1a8f4355.86059d","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":1380,"wires":[]},{"id":"b676fb5f.6d9168","type":"e-mail","z":"60106d4e.7d5cd4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"chumsy9725@gmail.com","dname":"","x":620,"y":2120,"wires":[]},{"id":"d2844058.da572","type":"comment","z":"60106d4e.7d5cd4","name":"Machine 02","info":"","x":110,"y":1160,"wires":[]},{"id":"62ef4096.32c58","type":"ui_numeric","z":"60106d4e.7d5cd4","name":"","label":"Vendor Machine Capacity","tooltip":"","group":"bdda2bde.f82d58","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"50","step":"5","x":130,"y":2340,"wires":[["545e54b9.d06c5c"]]},{"id":"545e54b9.d06c5c","type":"function","z":"60106d4e.7d5cd4","name":"","func":"flow.set(\"capacity03\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2340,"wires":[["77ae6282.c72d5c"]]},{"id":"77ae6282.c72d5c","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":2340,"wires":[]},{"id":"cb9b8874.08de88","type":"ui_text_input","z":"60106d4e.7d5cd4","name":"","label":"Vendor Machine Location","tooltip":"","group":"bdda2bde.f82d58","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":130,"y":2380,"wires":[["4fb42f0a.ed643"]]},{"id":"4fb42f0a.ed643","type":"function","z":"60106d4e.7d5cd4","name":"","func":"flow.set(\"location03\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2380,"wires":[["ebc30edf.ee143"]]},{"id":"ebc30edf.ee143","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":2380,"wires":[]},{"id":"fca680b1.a7404","type":"inject","z":"60106d4e.7d5cd4","name":"alert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":12, \"sprite\":21, \"pepsi\":3, \"refill\": 0}","payloadType":"str","x":70,"y":2580,"wires":[["fc0bb5d6.e054a8"]]},{"id":"fc0bb5d6.e054a8","type":"json","z":"60106d4e.7d5cd4","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":2580,"wires":[["ae6f035d.d5fda","cc6d1d3c.46983","1140d992.4a4886","c59fda10.8af1d8","6a740f07.5d46f","e031ff67.d4704","e75498da.3b06a8","2e7ee404.2719ac"]]},{"id":"ae6f035d.d5fda","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":2500,"wires":[]},{"id":"cc6d1d3c.46983","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.coke","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2580,"wires":[["15806cef.ef0703","cc090d26.55b1a"]]},{"id":"15806cef.ef0703","type":"ui_gauge","z":"60106d4e.7d5cd4","name":"","group":"9e273cd0.478d6","order":3,"width":8,"height":4,"gtype":"gage","title":"Coke","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#3acb3e"],"seg1":"5","seg2":"20","x":670,"y":2600,"wires":[]},{"id":"1140d992.4a4886","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sprite","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2620,"wires":[["dcf72db0.923e2","e96179ff.2c5678"]]},{"id":"dcf72db0.923e2","type":"ui_gauge","z":"60106d4e.7d5cd4","name":"","group":"9e273cd0.478d6","order":1,"width":8,"height":4,"gtype":"gage","title":"Sprite","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#3acb3e"],"seg1":"5","seg2":"20","x":670,"y":2640,"wires":[]},{"id":"c59fda10.8af1d8","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pepsi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2660,"wires":[["b5929b5a.3f2e58","21b42504.d7f54a"]]},{"id":"b5929b5a.3f2e58","type":"ui_gauge","z":"60106d4e.7d5cd4","name":"","group":"9e273cd0.478d6","order":5,"width":8,"height":4,"gtype":"gage","title":"Pepsi","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#ff0000","#e6e600","#3acb3e"],"seg1":"5","seg2":"20","x":670,"y":2680,"wires":[]},{"id":"6b841a37.a74284","type":"function","z":"60106d4e.7d5cd4","name":"","func":"flow.set(\"limit03\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2420,"wires":[["3807f1cc.ea376e"]]},{"id":"3807f1cc.ea376e","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":2420,"wires":[]},{"id":"bc344ddf.b2eb8","type":"ui_numeric","z":"60106d4e.7d5cd4","name":"","label":"Alert Limit","tooltip":"","group":"bdda2bde.f82d58","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"10","step":"1","x":80,"y":2420,"wires":[["6b841a37.a74284"]]},{"id":"d0882ea9.a718e","type":"e-mail","z":"60106d4e.7d5cd4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"chumsy9725@gmail.com","dname":"","x":910,"y":2760,"wires":[]},{"id":"399f88ab.0e1bd8","type":"inject","z":"60106d4e.7d5cd4","name":"refill","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"coke\":30, \"sprite\":30, \"pepsi\":30, \"refill\": 1}","payloadType":"json","x":70,"y":2620,"wires":[["fc0bb5d6.e054a8"]]},{"id":"6a740f07.5d46f","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.coke < flow.get('limit03')){\n    msg.payload = \"You are running out of Beverages in Machin 01 at \"+ flow.get('location03')+ \"!\\nRefill ASAP!!!\";\n    msg.topic = 'Refill Alert';\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2720,"wires":[["699a813c.3a771"]]},{"id":"e031ff67.d4704","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.sprite < flow.get('limit03')){\n    msg.payload = \"You are running out of Beverages in Machin 01 at \"+ flow.get('location03')+ \"!\\nRefill ASAP!!!\";\n    msg.topic = 'Refill Alert';\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2760,"wires":[["699a813c.3a771"]]},{"id":"e75498da.3b06a8","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.pepsi < flow.get('limit03')){\n    msg.payload = \"You are running out of Beverages in Machin 01 at \"+ flow.get('location03')+ \"!\\nRefill ASAP!!!\";\n    msg.topic = 'Refill Alert';\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2800,"wires":[["699a813c.3a771"]]},{"id":"d7b8615.3048ba","type":"inject","z":"60106d4e.7d5cd4","name":"B Coke","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":29, \"sprite\":30, \"pepsi\":30, \"refill\": 0}","payloadType":"json","x":70,"y":2660,"wires":[["fc0bb5d6.e054a8"]]},{"id":"f9216226.22f29","type":"inject","z":"60106d4e.7d5cd4","name":"random","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":18, \"sprite\":26, \"pepsi\":29, \"refill\": 0}","payloadType":"json","x":70,"y":2780,"wires":[["fc0bb5d6.e054a8"]]},{"id":"d6991f3.58b60e","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":2800,"wires":[]},{"id":"699a813c.3a771","type":"delay","z":"60106d4e.7d5cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":680,"y":2760,"wires":[["d6991f3.58b60e","67fcef1f.8d42c","d0882ea9.a718e"]]},{"id":"e92cdf1b.d6ce8","type":"ui_text","z":"60106d4e.7d5cd4","group":"de52f6ec.59de58","order":1,"width":14,"height":1,"name":"","label":"Last Refill at","format":"{{msg.payload}}","layout":"row-center","x":850,"y":2540,"wires":[]},{"id":"c6f8e08c.d704b","type":"moment","z":"60106d4e.7d5cd4","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Colombo","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd DD MMM HH:mm:ss","locale":"en-US","output":"","outputType":"msg","outTz":"Asia/Colombo","x":660,"y":2540,"wires":[["e92cdf1b.d6ce8"]]},{"id":"2e7ee404.2719ac","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload.refill","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":2540,"wires":[["c6f8e08c.d704b"]]},{"id":"67fcef1f.8d42c","type":"ui_toast","z":"60106d4e.7d5cd4","position":"top right","displayTime":"3","highlight":"Red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":880,"y":2720,"wires":[]},{"id":"38e510e3.95993","type":"mqtt in","z":"60106d4e.7d5cd4","name":"","topic":"TVM/out03","qos":"2","datatype":"auto","broker":"8d948d48.d57d5","x":80,"y":2540,"wires":[["fc0bb5d6.e054a8","f705b4c2.a818e8"]]},{"id":"cc090d26.55b1a","type":"rbe","z":"60106d4e.7d5cd4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":830,"y":2580,"wires":[["e20f442d.e43808"]]},{"id":"e20f442d.e43808","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"capacity03","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":2580,"wires":[["7f0c454.e543fbc"]]},{"id":"7f0c454.e543fbc","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales_03')+1], [flow.get('sprite_sales_03')], [flow.get('pepsi_sales_03')] ],\n    \"labels\": [ \"Daily Sales\" ]\n}];\n\nflow.set('coke_sales_03', (flow.get('coke_sales_03')+1));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":2580,"wires":[["d789a024.b0627"]]},{"id":"2c973cf.6a391c4","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":16, \"sprite\":26, \"pepsi\":23, \"refill\": 0}","payloadType":"json","x":70,"y":2820,"wires":[["fc0bb5d6.e054a8"]]},{"id":"12c4c030.e8259","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":12, \"sprite\":22, \"pepsi\":24, \"refill\": 0}","payloadType":"json","x":70,"y":2860,"wires":[["fc0bb5d6.e054a8"]]},{"id":"ac422f78.f2e7","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"true","payloadType":"bool","x":750,"y":2340,"wires":[["69881bae.b3cf04"]]},{"id":"69881bae.b3cf04","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"coke_sales_03","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"sprite_sales_03","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pepsi_sales_03","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2340,"wires":[["4b079b79.ee7d44"]]},{"id":"d789a024.b0627","type":"ui_chart","z":"60106d4e.7d5cd4","name":"","group":"6bd6723d.8401ec","order":1,"width":14,"height":5,"label":"Past 24 Hours","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1320,"y":2620,"wires":[[]]},{"id":"dce322c5.e8a9d","type":"inject","z":"60106d4e.7d5cd4","name":"B Sprite","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":29, \"sprite\":29, \"pepsi\":30, \"refill\": 0}","payloadType":"json","x":70,"y":2700,"wires":[["fc0bb5d6.e054a8"]]},{"id":"ca088b82.fa1138","type":"inject","z":"60106d4e.7d5cd4","name":"B Pepsi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"coke\":29, \"sprite\":29, \"pepsi\":29, \"refill\": 0}","payloadType":"json","x":70,"y":2740,"wires":[["fc0bb5d6.e054a8"]]},{"id":"e96179ff.2c5678","type":"rbe","z":"60106d4e.7d5cd4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":830,"y":2620,"wires":[["a578a70c.7d1148"]]},{"id":"a578a70c.7d1148","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"capacity03","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":2620,"wires":[["5300693.4ecc798"]]},{"id":"5300693.4ecc798","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales_03')], [flow.get('sprite_sales_03')+1], [flow.get('pepsi_sales_03')] ],\n    \"labels\":[ \"Daily Sales\" ]\n}];\n\nflow.set('sprite_sales_03', (flow.get('sprite_sales_03')+1));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":2620,"wires":[["d789a024.b0627"]]},{"id":"21b42504.d7f54a","type":"rbe","z":"60106d4e.7d5cd4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":830,"y":2660,"wires":[["9c9f2970.999228"]]},{"id":"9c9f2970.999228","type":"switch","z":"60106d4e.7d5cd4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"capacity03","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":2660,"wires":[["6b040bac.f3aec4"]]},{"id":"6b040bac.f3aec4","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales_03')], [flow.get('sprite_sales_03')], [flow.get('pepsi_sales_03')+1] ],\n    \"labels\": [ \"Daily Sales\" ]\n}];\n\nflow.set('pepsi_sales_03', (flow.get('pepsi_sales_03')+1));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":2660,"wires":[["d789a024.b0627"]]},{"id":"4b079b79.ee7d44","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = [{\n    \"series\": [ \"Coke\", \"Sprite\", \"Pepsi\"],\n    \"data\": [ [flow.get('coke_sales_03')], [flow.get('sprite_sales_03')], [flow.get('pepsi_sales_03')] ],\n    \"labels\": [ \"Daily Sales\" ]\n}];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":2340,"wires":[["d789a024.b0627"]]},{"id":"b7e49930.164f38","type":"openweathermap","z":"60106d4e.7d5cd4","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":410,"y":2980,"wires":[["616e199f.93db38","6321bcba.252c34","603e76f1.fc4ce8","288cc2f0.0c5d2e"]]},{"id":"f09f7619.0774a8","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if(msg.payload){\n    return{\n        location : {\n            city : flow.get(\"location03\"),\n            country : 'Sri Lanka'\n        },\n        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":2980,"wires":[["b7e49930.164f38"]]},{"id":"5e8b9c34.821564","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":80,"y":2980,"wires":[["f09f7619.0774a8"]]},{"id":"616e199f.93db38","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":2920,"wires":[]},{"id":"6321bcba.252c34","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2980,"wires":[["e20517c0.b36298"]]},{"id":"e20517c0.b36298","type":"ui_text","z":"60106d4e.7d5cd4","group":"c398c86d.106028","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":770,"y":2980,"wires":[]},{"id":"fa9528f7.68f118","type":"function","z":"60106d4e.7d5cd4","name":"","func":"msg.payload = \"The Temparature is around \"+ msg.payload + \" °C.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":3040,"wires":[["321c107f.1fb7b"]]},{"id":"603e76f1.fc4ce8","type":"change","z":"60106d4e.7d5cd4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp_maxc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":3040,"wires":[["6d0a89ef.d62ab8"]]},{"id":"6d0a89ef.d62ab8","type":"string","z":"60106d4e.7d5cd4","name":"","methods":[{"name":"toString","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":770,"y":3040,"wires":[["fa9528f7.68f118"]]},{"id":"321c107f.1fb7b","type":"ui_text","z":"60106d4e.7d5cd4","group":"c398c86d.106028","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1030,"y":3040,"wires":[]},{"id":"288cc2f0.0c5d2e","type":"function","z":"60106d4e.7d5cd4","name":"","func":"if (msg.payload.weather == \"Clear\"){\n    msg.payload = \"The weather is Clear today! There might be more Sales. \\n Better keep the machine stocked!\";\n    return msg;\n}\nelse if (msg.payload.temp_maxc > 27.0){\n    msg.payload = \"The temparature is high today! There Might be more Sales. \\n Better keep the machine stocked!\";\n    return msg;\n}\nelse if (msg.payload.weather == \"Clouds\"){\n    msg.payload = \"The weather is Cloudy today! People would love to have a soft drink. There might be more Sales.\\n Better keep the machine stocked!\";\n    return msg;\n}\nelse if (msg.payload.weather == \"Thunderstorm\"){\n    msg.payload = \"It is a Thunderstorm today! Today might not be the best day for sales.\";\n    return msg;\n}\nelse if (msg.payload.weather == \"Rain\"){\n    msg.payload = \"It is Raining today! Today might not be the best day for a soft drink. Sales will be low today\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":3100,"wires":[["348e2e5d.0954e2"]]},{"id":"348e2e5d.0954e2","type":"ui_text","z":"60106d4e.7d5cd4","group":"c398c86d.106028","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":730,"y":3100,"wires":[]},{"id":"f6600dd4.cf7ec","type":"inject","z":"60106d4e.7d5cd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":3180,"wires":[["44ec6d0c.bf7324"]]},{"id":"44ec6d0c.bf7324","type":"function","z":"60106d4e.7d5cd4","name":"","func":"var yourDate = new Date()\n\nmsg.payload = {\n    \"Date\" : yourDate.toISOString().split('T')[0],\n    \"Machine\": 'Machine 03',\n    \"Coke\" : flow.get('coke_sales_03'),\n    \"Sprite\" : flow.get('sprite_sales_03'),\n    \"Pepsi\" : flow.get('pepsi_sales_03')\n};\nmsg.topic = 'Daily Summary';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":3180,"wires":[["8a76c78a.7d3dc8"]]},{"id":"b995773.1f44988","type":"debug","z":"60106d4e.7d5cd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":3180,"wires":[]},{"id":"8a76c78a.7d3dc8","type":"json","z":"60106d4e.7d5cd4","name":"","property":"payload","action":"","pretty":false,"x":390,"y":3180,"wires":[["222bf684.c4864a","9171e98.6d70018"]]},{"id":"f705b4c2.a818e8","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":2500,"wires":[]},{"id":"222bf684.c4864a","type":"e-mail","z":"60106d4e.7d5cd4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"chumsy9725@gmail.com","dname":"","x":600,"y":3240,"wires":[]},{"id":"2c8cf84f.39f898","type":"comment","z":"60106d4e.7d5cd4","name":"Machine 03","info":"","x":90,"y":2280,"wires":[]},{"id":"ac20a687.0b4e38","type":"file","z":"60106d4e.7d5cd4","name":"","filename":"\\Users\\Chamuditha Jayanga\\.node-red\\logs\\SalesM1.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":730,"y":880,"wires":[["3c081039.368f2"]]},{"id":"3c081039.368f2","type":"debug","z":"60106d4e.7d5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":880,"wires":[]},{"id":"884c2a73.ae63e8","type":"file","z":"60106d4e.7d5cd4","name":"","filename":"\\Users\\Chamuditha Jayanga\\.node-red\\logs\\SalesM2.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":740,"y":2060,"wires":[["d4ff5ee0.a6283"]]},{"id":"9171e98.6d70018","type":"file","z":"60106d4e.7d5cd4","name":"","filename":"\\Users\\Chamuditha Jayanga\\.node-red\\logs\\SalesM3.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":710,"y":3180,"wires":[["b995773.1f44988"]]},{"id":"854e0b9e.9c3588","type":"e-mail","z":"60106d4e.7d5cd4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"chumsy9725@gmail.com","dname":"","x":930,"y":500,"wires":[]},{"id":"19ab7cc6.83c6f3","type":"delay","z":"60106d4e.7d5cd4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"15","nbRateUnits":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":500,"wires":[["c18e70b3.6c7e4","881689a4.ee7aa8","854e0b9e.9c3588"]]},{"id":"e2e9fb07.22a078","type":"ui_group","name":"Machine 01","tab":"438a7688.f444b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"bdba7285.159fe","type":"ui_group","name":"Storage","tab":"91dfb2ac.74eb5","order":1,"disp":true,"width":"28","collapse":false},{"id":"552053cb.2189dc","type":"ui_group","name":"Last Refill","tab":"91dfb2ac.74eb5","order":4,"disp":true,"width":"14","collapse":false},{"id":"8d948d48.d57d5","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"71742d79.161a64","type":"ui_group","name":"Sales","tab":"91dfb2ac.74eb5","order":2,"disp":true,"width":"14","collapse":false},{"id":"7c1517da.875ee8","type":"ui_group","name":"Weather at the Location","tab":"91dfb2ac.74eb5","order":3,"disp":true,"width":"14","collapse":false},{"id":"8507e80.6600b18","type":"ui_group","name":"Machine 02","tab":"438a7688.f444b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5cc65bc4.b031b4","type":"ui_group","name":"Storage","tab":"82ec6467.994168","order":1,"disp":true,"width":"28","collapse":false},{"id":"4933443c.04ae3c","type":"ui_group","name":"Last Refill","tab":"82ec6467.994168","order":4,"disp":true,"width":14,"collapse":false},{"id":"762838a9.df2da8","type":"ui_group","name":"Sales","tab":"82ec6467.994168","order":2,"disp":true,"width":"14","collapse":false},{"id":"22bda611.84e27a","type":"ui_group","name":"Weather at the location","tab":"82ec6467.994168","order":3,"disp":true,"width":14,"collapse":false},{"id":"bdda2bde.f82d58","type":"ui_group","name":"Machine 03","tab":"438a7688.f444b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"9e273cd0.478d6","type":"ui_group","name":"Storage","tab":"eb869834.ce1f58","order":1,"disp":true,"width":"28","collapse":false},{"id":"de52f6ec.59de58","type":"ui_group","name":"Last Refill","tab":"eb869834.ce1f58","order":4,"disp":true,"width":"14","collapse":false},{"id":"6bd6723d.8401ec","type":"ui_group","name":"Sales","tab":"eb869834.ce1f58","order":2,"disp":true,"width":"14","collapse":false},{"id":"c398c86d.106028","type":"ui_group","name":"Weather at the location","tab":"eb869834.ce1f58","order":3,"disp":true,"width":"14","collapse":false},{"id":"438a7688.f444b8","type":"ui_tab","name":"Settings","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"91dfb2ac.74eb5","type":"ui_tab","name":"Machine 01","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"82ec6467.994168","type":"ui_tab","name":"Machine 02","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"eb869834.ce1f58","type":"ui_tab","name":"Machine 03","icon":"dashboard","order":3,"disabled":false,"hidden":false}]